body{
  background-color: #E8F9FD;

}
hr{
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h1{
  font-family: Georgia, serif;
  font-size: 75px;
  text-align: center;
  color: #242F9B;
}
h3{
  color: #9BA3EB;
}
.aryaman{
  position: absolute;
  right: 1140px;
  border-radius: 10%;
}
.a{
  color: #9BA3EB;
}
h4{
  color: #9BA3EB;
}
.b{
  color: #9BA3EB;
  font-size: 30px;
}
